.field-group-v2.input-group-with-form-item {
  display: flex;

  .field-group-v2-label {
    height: 32px;
    line-height: 30px;
    flex-shrink: 0;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: unset;

  }

  .field-group-v2-content {
    width: 100%;
    min-width: 0;
    flex-shrink: 1;

    .ant-form-item-control-input {
      min-height: 32px;
    }
  }

  .field-group-v2-addon:last-child {
    border-left: 1px solid var(--fc-border-color);
    width: max-content;
    max-width: unset;
    height: 32px;
    line-height: 32px;
    padding: 0 3px;
  }

  // 2024-11-20 对 focused 和 hover 状态下的 select 组件进行 z-index 修正防止被后面 addonAfter 内容遮挡
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    z-index: 1;
  }

  .ant-select:not(.ant-select-disabled):hover {
    z-index: 1;
  }
}

.field-group-v2-small.input-group-with-form-item {
  .field-group-v2-label {
    height: 24px;
    line-height: 22px;
  }

  .field-group-v2-content {
    .ant-form-item-control-input {
      min-height: 24px;
    }
  }
}