.theme-light-gold {
  font-size: var(--fc-font-size-base);
  line-height: var(--fc-line-height-base);

  .is-active {
    background: #fff2cb;
  }

  .ant-table-tbody>tr:last-child>td {
    border-bottom: 1px solid var(--fc-primary-color);
  }

  .aido-pro-tag {
    color: rgb(34, 34, 34);
  }
}