.n9e-dashboard-variables-container {
  .field-group-v2 {
    display: inline-flex;
    width: auto;
    max-width: 100%;
  }

  .field-group-v2-content {
    flex: 0 0 auto;
    min-width: 180px;
  }

  .field-group-v2-label {
    max-width: 220px;
  }

  .n9e-dashboard-variable-edit-icon {
    display: none;
  }

  &:hover {
    .n9e-dashboard-variable-edit-icon {
      display: inline-block;
    }
  }
}